<header>
    <div class="b-profile">
        <p class="b-profile__name c-font-white">Авторизация/Регистрация</p>
        <p class="b-profile__exit c-font-white disabled">Выйти</p>
    </div>
</header>
<div class="b-auth disabled">
    <div class="b-login__container">
        <form class="b-login__form">
            <div class="b-login__input input-container">
                <label for="login">Login:</label>
                <input name="login"/>
            </div>
            <div class="b-login__input input-container">
                <label for="password">Password:</label>
                <input type="password" name="password"/>
            </div>
            <button class="b-login__submit">Войти</button>
        </form>
        <p class="link">Регистрация</p>
    </div>
    <div class="b-register__container active">
        <form class="b-register__form">
            <div class="b-register__input input-container">
                <label for="login">Login:</label>
                <input name="login"/>
            </div>
            <div class="b-register__input input-container">
                <label for="name">Name:</label>
                <input name="name"/>
            </div>
            <div class="b-register__input input-container">
                <label for="password">Password:</label>
                <input type="password" name="password"/>
            </div>
            <button class="b-register__submit">Зарегистрироваться</button>
        </form>
        <p class="link">Авторизация</p>
    </div>
</div>